* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(183, 153, 184);
    padding: 10px;

}
.main-dive-one{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;

}
.my-name{
    padding-right: 10px;
}
.center-me{
    color: white;
    
}
.img{
    border-radius: 50%;
}



.visiting-city{
    padding-top: 100px;
    flex-wrap: wrap;
}
.title{
    padding-bottom:30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.pic-and-paragraph{
    display: flex;
    

}
.city-paragraph{
    padding-left: 10px;
}
.about-sydeny{
    color: white;
}
.city-title{
    text-align: center;
}


.foreign-languege{
    padding-bottom:30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.fix{
    padding-top: 20px;
    padding-top: 20px;
    text-align: center;
}
.about-franch{
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
}

.table ,th,td{
    
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px ;
    align-items:center ;
}
.SA-historrical{
    padding-top: 30px;
    flex: auto;
    flex-wrap: wrap;
}
.title-history{
    text-align: center;
}
.main{
    padding-top: 15px;
    display:flex;
} 
.one ,.two ,.three{
    display: flex;
    flex-direction: row-reverse;
    
}
.iziko,.district,.custle{
    font-size:larger;
    padding-left: 15px;
    padding-bottom: 15px;
}
.table{
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width:760px){
    .main{
        padding-top: 15px;
        display:flex;
        flex-direction: column;
    } 
    .one{
        border: 4px solid white;
       display: block; 
       margin-bottom: 20px;
     
    }
    .one img{
        float: left;
        margin-right: 1rem;
    }
    
    .two{
        border: 4px solid white ;
        display: block;
        margin-bottom: 20px;
        
    }
    .two img {
        float: right;
        margin-left: 1rem;

    }
    .three{
        border: 4px solid white;
        display: block;
        margin-bottom: 20px;
    
    }
    .three img{
        float: left;
        margin-right: 1rem;
    }
    .pic-and-paragraph{
        flex-wrap: wrap;
        text-align: center;
    }
    .about-franch{
        text-align: center;
    }
    .city-pic{
        margin-left: auto;
        margin-right: auto;
    }
    .city-title{
        text-align: center;
    }
    .img{
        max-width: 350px;
        
    }
    .center-me{
        padding-bottom: 40px;
    }
    .visiting-city{
        padding-top: 40px;
    }
    .iziko,.district,.custle{
        padding-top: 20px;
        text-align: center;
    }
    
    
}
